.deps
.libs
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache
*.la
build
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
include
install-sh
libtool
ltmain.sh
ltmain.sh.backup
missing
mkinstalldirs
modules
*.lo
*.loT
run-tests.php
tests/00*.diff
tests/00*.exp
tests/00*.log
tests/00*.out
tests/00*.php
tests/00*.sh
tests/00*.mem
php.log
test/php.log
